<!-- <div class="div" fxLayoutGap="45px" fxLayout="column" class="margin-top45">
    <div class="container" style="padding: 25px;" ngClass.xs="containerxs">

        <div fxLayoutAlign="space-between center">
            <div class="fontCairo title">قرار غلق</div>
            <div class="fontCairo title">العنوان</div>
        </div>
        <div class="fontCairo text-right ">
            العنوانالعنوا
            نالعنو
            انالع
            نوانا
            لعن
            وانالعنو
            انالعن
            وانالعنوانالعن
            وانالعنوانا
            لعنوانالعن
            وانالعنوان
            العنوانالعنوانالع
            نوانالعنوا
            نالعنوانالعنوانالعنوانالعنوان
        </div>
        <div class="fontCairo text-right fw600">
            االكاف ،دهماني
        </div>
        <div fxLayoutAlign="space-between center">
            <div class="fontCairo votes fw600">11 تأييد</div>
            <div class="fontCairo title"> <button class=" fontCairo" mat-raised-button color="primary"
                    [routerLink]="['/tickets']" routerLinkActive="router-link-active">أكد</button></div>
        </div>
    </div>
    <div class="container" style="padding: 25px;" ngClass.xs="containerxs">

        <div fxLayoutAlign="space-between center">
            <div class="fontCairo title">قرار غلق</div>
            <div class="fontCairo title">العنوان</div>
        </div>
        <div class="fontCairo text-right ">
            العنوانالعنوانالعنوانالع
            نوانالعنوانالعنوانالعن
            وانالعنوانالعنوانالعنوانالعنوانالعنوانالعنوان
            العنوانالعنوانالعنوانالعنوا
            نالعنوانالعنوانالعنوانالعنوان
        </div>
        <div class="fontCairo text-right fw600">
            االكاف ،دهماني
        </div>
        <div fxLayoutAlign="space-between center">
            <div class="fontCairo votes fw600">11 تأييد</div>
            <div class="fontCairo title"> <button class=" fontCairo" mat-raised-button color="primary"
                    [routerLink]="['/tickets']" routerLinkActive="router-link-active">أكد</button></div>
        </div>
    </div>
    <div class="container" style="padding: 25px;" ngClass.xs="containerxs">

        <div fxLayoutAlign="space-between center">
            <div class="fontCairo title">قرار غلق</div>
            <div class="fontCairo title">العنوان</div>
        </div>
        <div class="fontCairo text-right ">
            العنوانالعنوان
            العنوانالع
            نوانالعنوا
            نالعنوانالعن
            وانالعنو
            نالعنوانالعنوا
            نالعنوانالع
            نوانالعنوان
            العنوانالعنوانالعنوانالعنوا
            نالعنوانالعنوانالعنوانالعنوان
            نالعنوانالعن
            وانالعنو
            نالعنوانالعنوا
            نالعنوانالع
            نوانالعنوان
            العنوانالعنوانالعنوانالعنوا
            نالعنوانالعنوانالعنوانالعنوان
        </div>
        <div class="fontCairo text-right fw600">
            االكاف ،دهماني
        </div>
        <div fxLayoutAlign="space-between center">
            <div class="fontCairo votes fw600">11 تأييد</div>
            <div class="fontCairo title"> <button class=" fontCairo" mat-raised-button color="primary"
                    [routerLink]="['/tickets']" routerLinkActive="router-link-active">أكد</button></div>
        </div>
    </div>

</div>
<div fxLayoutAlign="center center"><button class="margin-top40 fontCairo padding1070" mat-raised-button color="primary"
        [routerLink]="['/addTicket']" routerLinkActive="router-link-active">بلغ</button></div> -->